<%- include("../partials/admin/header") %> <%- include("../partials/admin/side")
%>

<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add Category</h4>
      <form
        class="forms-sample"
        action="/admin/category/addCategory"
        method="post"
        enctype="multipart/form-data"
        style="width: 80%"
        id="category-form"
      >
        <label for="image">Image Upload:</label>
        <input
          type="file"
          id="image"
          name="image"
          class="form-control file-upload-info"
        />

        <div class="form-group">
          <label class="mt-3" for="exampleInputName1">Category Name</label>
          <input
            type="text"
            name="categoryName"
            class="form-control"
            id="exampleInputName1"
            placeholder="Name"
          />
          <p class="text-danger" id="name-error-display"></p>
        </div>

        <div class="form-group">
          <label class="mt-3" for="exampleInputName1"
            >Category Offer(percentage)</label
          >
          <input
            type="number"
            name="offer"
            class="form-control"
            id="exampleInputOffer"
            placeholder="offer"
          />
          <p class="text-danger" id="offer-error-display"></p>
        </div>

        <div class="form-group mt-2">
          <label class="" for="exampleTextarea1">Description</label>
          <textarea
            name="description"
            class="form-control"
            id="exampleTextarea1"
            rows="4"
          ></textarea>
          <% if (message !== "") { %>
          <p class="text-danger"><%= message %></p>
          <% } %>
        </div>
        <p class="text-danger" id="common-error-display"></p>

        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <div></div>
      </form>
    </div>
  </div>
</div>

<script>
  const form = document.getElementById("category-form");
  const categoryName = document.getElementById("exampleInputName1");
  const categoryOffer = document.getElementById("exampleInputOffer");

  form.addEventListener("submit", (event) => {
    let hasErrors = false;

    document.getElementById("name-error-display").innerText = "";
    document.getElementById("offer-error-display").innerHTML = "";
    document.getElementById("common-error-display").innerHTML = "";
    // Check for special characters in Category Name
    const specialCharacters = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/;
    const numbers = /\d/; // This checks for any digit (0-9)

    if (
      specialCharacters.test(categoryName.value) ||
      numbers.test(categoryName.value)
    ) {
      hasErrors = true;
      document.getElementById("name-error-display").innerText =
        "Category Name cannot contain special characters or numbers";
    }else if(!categoryName.value){
      hasErrors = true;
      document.getElementById("name-error-display").innerText ="enter name"
    }

    if (!categoryOffer.value) {
      hasErrors = true;
      document.getElementById("offer-error-display").innerText =
        "Category offer must be filled or 0";
    } else if (categoryOffer.value >= 100) {
      hasErrors = true;
      document.getElementById("offer-error-display").innerText =
        "cannot set offer above 100%";
    } else if (categoryOffer.value < 0) {
      hasErrors = true;
      document.getElementById("offer-error-display").innerText =
        "cannot set offer less than 0";
    }

    // Check if any field is empty
    const formInputs = form.querySelectorAll("input, textarea");
    formInputs.forEach((input) => {
      if (!input.value.trim()) {
        hasErrors = true;
        document.getElementById("common-error-display").innerText =
          "Please fill in all fields.";
      }
    });

    if (hasErrors) {
      event.preventDefault();
    }
  });
</script>

<%- include("../partials/admin/footer") %>


<!-- ddd -->